openapi: 3.0.3
info:
servers:
paths:

components:
  schemas:

    Word:
      type: string

    Binary:
      type: string

    BigInteger:
      type: string
      example: 717802

    BigDecimal:
      type: string
      example: 717802.342336

    FlowAddress:
      type: string
      example: "0x5c075acc71f2f41c"

    FlowApiError:
      required:
        - status
        - code
        - message
      type: object
      properties:
        status:
          type: integer
          format: int32
        code:
          type: string
        message:
          type: string

    FlowActivity:
      type: object
      required:
        - id
        - date
      properties:
        id:
          type: string
        date:
          type: string
          format: date-time
      oneOf:
        - $ref: "#/components/schemas/FlowNftActivity"

    FlowNftActivity:
      type: object
      required:
        - kind
        - owner
        - contract
        - tokenId
        - value
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        kind:
          type: string
          enum:
            - MINT
            - TRANSFER
            - BURN
        owner:
          $ref: "#/components/schemas/FlowAddress"
        contract:
          $ref: "#/components/schemas/FlowAddress"
        tokenId:
          $ref: "#/components/schemas/BigInteger"
        value:
          $ref: "#/components/schemas/BigInteger"
        transactionHash:
          $ref: "#/components/schemas/Word"
        blockHash:
          $ref: "#/components/schemas/Word"
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer
      discriminator:
          propertyName: kind
          mapping:
            MINT: "#/components/schemas/Mint"
            BURN: "#/components/schemas/Burn"
            TRANSFER: "#/components/schemas/Transfer"
      oneOf:
        - $ref: "#/components/schemas/Mint"
        - $ref: "#/components/schemas/Burn"
        - $ref: "#/components/schemas/Transfer"

    Mint:
      type: object
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - "MINT"

    Burn:
      type: object
      required:
        - kind
      properties:
        kind:
          type: string
          enum:
            - "BURN"

    Transfer:
      type: object
      required:
        - type
        - from
      properties:
        kind:
          type: string
          enum:
            - "TRANSFER"
        from:
          $ref: "#/components/schemas/FlowAddress"

    FlowActivities:
      type: object
      required:
        - items
      properties:
        continuation:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/FlowActivity"
