openapi: 3.0.3
info:
  title: flow-protocol-model-common
  version: v0.1
paths:
components:
  schemas:

    Word:
      type: string

    Binary:
      type: string

    BigInteger:
      type: string
      example: 717802

    BigDecimal:
      type: string
      example: 717802.342336

    FlowAddress:
      type: string
      example: "0x5c075acc71f2f41c"

    FlowContract:
      type: string
      example: "A.e4e5f90bf7e2a25f.NFTProvider.NFT"

    FlowAsset:
      type: object
      required:
        - contract
        - value
      properties:
        contract:
          $ref: "#/components/schemas/FlowContract"
        value:
          $ref: "#/components/schemas/BigDecimal"
      oneOf:
        - $ref: "#/components/schemas/FlowAssetNFT"
        - $ref: "#/components/schemas/FlowAssetFungible"

    FlowAssetNFT:
      type: object
      required:
        - "@type"
        - tokenId
      properties:
        "@type":
          type: string
          enum:
            - "nft"
        tokenId:
          $ref: "#/components/schemas/BigInteger"

    FlowAssetFungible:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "fungible"

    FlowOrderActivityMatchSide:
      type: object
      properties:
        maker:
          $ref: "#/components/schemas/FlowAddress"
        asset:
          $ref: "#/components/schemas/FlowAsset"
        type:
          type: "string"
          enum:
            - "SELL"
            - "BID"
      required:
        - "maker"
        - "asset"
        - "type"


    FlowApiError:
      required:
        - status
        - code
        - message
      type: object
      properties:
        status:
          type: integer
          format: int32
        code:
          type: string
          enum:
            - "UNKNOWN"
            - "BAD_REQUEST"
            - "VALIDATION"
            - "NOT_FOUND"
        message:
          type: string

    FlowActivity:
      type: object
      required:
        - id
        - date
        - updatedAt
      properties:
        id:
          type: string
          description: "Activity identifier"
        date:
          type: string
          format: date-time
          description: "Date of activity on chain"
        updatedAt:
          type: string
          format: date-time
          description: "Date of activity update in DB"
      oneOf:
        - $ref: "#/components/schemas/FlowNftActivity"
        - $ref: "#/components/schemas/FlowNftOrderActivity"
        - $ref: "#/components/schemas/FlowAuctionActivity"
        - $ref: "#/components/schemas/DummyActivity"


    DummyActivity:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "dummy"

    FlowNftActivity:
      type: object
      required:
        - owner
        - contract
        - tokenId
        - value
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        owner:
          $ref: "#/components/schemas/FlowAddress"
        contract:
          $ref: "#/components/schemas/FlowAddress"
        tokenId:
          $ref: "#/components/schemas/BigInteger"
        value:
          $ref: "#/components/schemas/BigInteger"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer
      oneOf:
        - $ref: "#/components/schemas/FlowMint"
        - $ref: "#/components/schemas/FlowBurn"
        - $ref: "#/components/schemas/FlowTransfer"

    FlowMint:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "mint"

    FlowBurn:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "burn"

    FlowTransfer:
      type: object
      required:
        - from
        - "@type"
        - purchased
      properties:
        "@type":
          type: string
          enum:
            - "transfer"
        from:
          $ref: "#/components/schemas/FlowAddress"
        purchased:
          type: boolean

    FlowNftOrderActivity:
      type: object
      oneOf:
        - $ref: "#/components/schemas/FlowNftOrderActivityList"
        - $ref: "#/components/schemas/FlowNftOrderActivityBid"
        - $ref: "#/components/schemas/FlowNftOrderActivitySell"
        - $ref: "#/components/schemas/FlowNftOrderActivityCancelList"
        - $ref: "#/components/schemas/FlowNftOrderActivityCancelBid"

    FlowNftOrderActivityBid:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "bid"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowNftOrderActivityList:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "list"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowNftOrderActivitySell:
      type: object
      required:
        - "@type"
        - left
        - right
        - price
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "sell"
        left:
          $ref: "#/components/schemas/FlowOrderActivityMatchSide"
        right:
          $ref: "#/components/schemas/FlowOrderActivityMatchSide"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer
        platform:
          $ref: "#/components/schemas/FlowOrderPlatform"

    FlowNftOrderActivityCancelBid:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "cancel_bid"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowNftOrderActivityCancelList:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "cancel_list"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowActivities:
      type: object
      required:
        - items
      properties:
        total:
          type: integer
          format: int32
        continuation:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/FlowActivity"

    PayInfo:
      type: object
      required:
        - account
        - value
      properties:
        account:
          $ref: "#/components/schemas/FlowAddress"
        value:
          $ref: "#/components/schemas/BigDecimal"

    FlowAuctionActivity:
      type: object
      required:
        - id
        - date
        - source
        - auction
      properties:
        id:
          type: string
        date:
          type: string
          format: date-time
        source:
          type: string
          enum:
            - RARIBLE
        auction:
          $ref: "#/components/schemas/FlowAuction"
      oneOf:
        - $ref: "#/components/schemas/FlowAuctionActivityOpen"
        - $ref: "#/components/schemas/FlowAuctionActivityBid"
        - $ref: "#/components/schemas/FlowAuctionActivityFinish"
        - $ref: "#/components/schemas/FlowAuctionActivityCancel"
        - $ref: "#/components/schemas/FlowAuctionActivityStart"
        - $ref: "#/components/schemas/FlowAuctionActivityEnd"

    FlowAuctionActivityOpen:
      type: object
      required:
        - "@type"
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "auction_open"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowAuctionActivityBid:
      type: object
      required:
        - "@type"
        - bid
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "auction_bid"
        bid:
          $ref: "#/components/schemas/FlowAuctionBid"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowAuctionActivityFinish:
      type: object
      required:
        - "@type"
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "auction_finish"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowAuctionActivityCancel:
      type: object
      required:
        - "@type"
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "auction_cancel"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowAuctionActivityStart:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "auction_start"

    FlowAuctionActivityEnd:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "auction_end"

    FlowAuction:
      type: object
      required:
        - type
        - seller
        - sell
        - buy
        - minimalStep
        - minimalPrice
        - createdAt
        - lastUpdateAt
        - status
        - id
      properties:
        seller:
          $ref: "#/components/schemas/FlowAddress"
        sell:
          $ref: "#/components/schemas/FlowAsset"
        buy:
          $ref: "#/components/schemas/FlowAsset"
        minimalStep:
          $ref: "#/components/schemas/BigDecimal"
        minimalPrice:
          $ref: "#/components/schemas/BigDecimal"
        createdAt:
          type: string
          format: date-time
        lastUpdatedAt:
          type: string
          format: date-time
        status:
          $ref: "#/components/schemas/FlowAuctionStatus"
        id:
          type: integer
          format: int64
        buyPrice:
          $ref: "#/components/schemas/BigDecimal"
        buyPriceUsd:
          $ref: "#/components/schemas/BigDecimal"
      oneOf:
        - $ref: "#/components/schemas/EnglishV1FlowAuction"

    EnglishV1FlowAuction:
      type: object
      required:
        - startTime
      properties:
        type:
          type: string
          enum:
            - "RARIBLE_AUCTION_V1"
        startTime:
          type: string
          format: date-time
        buyoutPrice:
          $ref: "#/components/schemas/BigDecimal"
        payouts:
          type: array
          items:
            $ref: "#/components/schemas/PayInfo"
        originalFees:
          type: array
          items:
            $ref: "#/components/schemas/PayInfo"
        duration:
          type: integer
          format: int64
        ongoing:
          type: boolean
        endTime:
          type: string
          format: date-time
        contract:
          type: string

    FlowAuctionStatus:
      type: "string"
      enum:
        - "INACTIVE"
        - "ACTIVE"
        - "CANCELLED"
        - "FINISHED"

    FlowAuctionSort:
      type: string
      enum:
        - "LAST_UPDATE_ASC"
        - "LAST_UPDATE_DESC"
        - "BUY_PRICE_ASC"

    FlowAuctionBid:
      type: object
      properties:
        address:
          $ref: "#/components/schemas/FlowAddress"
        amount:
          $ref: "#/components/schemas/BigDecimal"

    FlowAuctionBidsPagination:
      type: object
      required:
        - bids
      properties:
        bids:
          type: array
          items:
            $ref: "#/components/schemas/FlowAuctionBid"
        continuation:
          type: string

    FlowAuctionsPagination:
      type: object
      required:
        - auctions
      properties:
        auctions:
          type: array
          items:
            $ref: "#/components/schemas/FlowAuction"
        continuation:
          type: string

    FlowAuctionIds:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: integer
            format: int64

    NftActivitiesByIdRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
            description: "List of activity ids"

    NftOwnershipsByIdRequest:
      type: object
      required:
        - ids
      properties:
        ids:
          type: array
          items:
            type: string
            description: "List of ownerships ids"

    FlowOrderPlatform:
      type: string
      enum:
        - RARIBLE
        - OTHER


  responses:
    BadRequest:
      description: Bad Request
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/FlowApiError"
    ServerError:
      description: Internal Server Error
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/FlowApiError"
    EntityNotFound:
      description: Not Found
      content:
        application/json:
          schema:
            "$ref": "#/components/schemas/FlowApiError"


