openapi: 3.0.3
info:
  title: flow-protocol-model-common
  version: v0.1
paths:
components:
  schemas:

    FlowAsset:
      type: object
      required:
        - contract
        - value
      properties:
        contract:
          $ref: "#/components/schemas/FlowAddress"
        value:
          $ref: "#/components/schemas/BigDecimal"
      oneOf:
        - $ref: "#/components/schemas/FlowAssetNFT"
        - $ref: "#/components/schemas/FlowAssetFungible"

    FlowAssetNFT:
      type: object
      required:
        - "@type"
        - tokenId
      properties:
        "@type":
          type: string
          enum:
            - "nft"
        tokenId:
          $ref: "#/components/schemas/BigInteger"

    FlowAssetFungible:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "fungible"

    FlowOrderActivityMatchSide:
      type: object
      properties:
        maker:
          $ref: "#/components/schemas/FlowAddress"
        asset:
          $ref: "#/components/schemas/FlowAsset"
        type:
          type: "string"
          enum:
            - "SELL"
            - "BID"
      required:
        - "maker"
        - "asset"
        - "type"


    FlowApiError:
      required:
        - status
        - code
        - message
      type: object
      properties:
        status:
          type: integer
          format: int32
        code:
          type: string
          enum:
            - "UNKNOWN"
            - "BAD_REQUEST"
            - "VALIDATION"
            - "NOT_FOUND"
        message:
          type: string

    FlowActivity:
      type: object
      required:
        - id
        - date
      properties:
        id:
          type: string
        date:
          type: string
          format: date-time
      oneOf:
        - $ref: "#/components/schemas/FlowNftActivity"
        - $ref: "#/components/schemas/FlowNftOrderActivity"

    FlowNftActivity:
      type: object
      required:
        - owner
        - contract
        - tokenId
        - value
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        owner:
          $ref: "#/components/schemas/FlowAddress"
        contract:
          $ref: "#/components/schemas/FlowAddress"
        tokenId:
          $ref: "#/components/schemas/BigInteger"
        value:
          $ref: "#/components/schemas/BigInteger"
        transactionHash:
          $ref: "#/components/schemas/Word"
        blockHash:
          $ref: "#/components/schemas/Word"
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer
      oneOf:
        - $ref: "#/components/schemas/FlowMint"
        - $ref: "#/components/schemas/FlowBurn"
        - $ref: "#/components/schemas/FlowTransfer"

    FlowMint:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "mint"

    FlowBurn:
      type: object
      required:
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "burn"

    FlowTransfer:
      type: object
      required:
        - from
        - "@type"
      properties:
        "@type":
          type: string
          enum:
            - "transfer"
        from:
          $ref: "#/components/schemas/FlowAddress"

    FlowNftOrderActivity:
      type: object
      oneOf:
        - $ref: "#/components/schemas/FlowNftOrderActivityList"
        - $ref: "#/components/schemas/FlowNftOrderActivitySell"
        - $ref: "#/components/schemas/FlowNftOrderActivityCancelList"

    FlowNftOrderActivityList:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "list"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"

    FlowNftOrderActivitySell:
      type: object
      required:
        - "@type"
        - left
        - right
        - price
        - transactionHash
        - blockHash
        - blockNumber
        - logIndex
      properties:
        "@type":
          type: string
          enum:
            - "sell"
        left:
          $ref: "#/components/schemas/FlowOrderActivityMatchSide"
        right:
          $ref: "#/components/schemas/FlowOrderActivityMatchSide"
        price:
          $ref: "#/components/schemas/BigDecimal"
        transactionHash:
          type: string
        blockHash:
          type: string
        blockNumber:
          type: integer
          format: int64
        logIndex:
          type: integer

    FlowNftOrderActivityCancelList:
      type: object
      required:
        - "@type"
        - hash
        - maker
        - make
        - take
        - price
      properties:
        "@type":
          type: string
          enum:
            - "cancel_list"
        hash:
          type: string
        maker:
          $ref: "#/components/schemas/FlowAddress"
        make:
          $ref: "#/components/schemas/FlowAsset"
        take:
          $ref: "#/components/schemas/FlowAsset"
        price:
          $ref: "#/components/schemas/BigDecimal"

    FlowActivities:
      type: object
      required:
        - items
      properties:
        total:
          type: integer
          format: int32
        continuation:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/FlowActivity"

    PayInfo:
      type: object
      required:
        - account
        - value
      properties:
        account:
          $ref: "#/components/schemas/FlowAddress"
        value:
          $ref: "#/components/schemas/BigDecimal"

    Word:
      type: string

    Binary:
      type: string

    BigInteger:
      type: string
      example: 717802

    BigDecimal:
      type: string
      example: 717802.342336

    FlowAddress:
      type: string
      example: "0x5c075acc71f2f41c"