openapi: 3.0.3
info:
  title: flow-protocol-api-nft
  version: v0.1

paths:
  '/v0.1/items/':
    get:
      tags:
        - flow-nft-item-controller
      summary: All items.
      description: ""
      operationId: getAllItems
      parameters:
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'

  '/v0.1/items/{itemId}':
    get:
      tags:
        - flow-nft-item-controller
      summary: All items.
      description: ""
      operationId: getNftItemById
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItem'

  '/v0.1/items/byAccount':
    get:
      tags:
        - flow-nft-item-controller
      summary: All items filtered by address of an owner.
      description: ""
      operationId: getItemsByAccount
      parameters:
        - name: address
          in: query
          description: address of NFT owner
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'
  '/v0.1/items/byCreator':
    get:
      tags:
        - flow-nft-item-controller
      summary: All items filtered by address of a creator.
      description: ""
      operationId: getItemsByCreator
      parameters:
        - name: address
          in: query
          description: address of NFT creator
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'
  '/v0.1/items/listed':
    get:
      tags:
        - flow-nft-item-controller
      summary: Listed items.
      description: ""
      operationId: getListedItems
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlowNftItem'
  '/v0.1/items/meta/{itemId}':
    get:
      tags:
        - flow-nft-item-controller
      operationId: getItemMeta
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowItemMeta'
    post:
      tags:
        - flow-nft-item-controller
      summary: Save item's meta information.
      description: ""
      operationId: saveItemsMeta
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FlowItemMetaForm"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string

  "/v0.1/collections/{collection}":
    get:
      tags:
        - flow-nft-collection-controller
      description: Returns Collection by ID
      operationId: getNftCollectionById
      parameters:
        - name: collection
          in: path
          required: true
          schema:
            type: string
            example:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftCollection"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/items/byCollection":
    get:
      tags:
        - flow-nft-item-controller
      operationId: getNftItemsByCollection
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftItems"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/ownerships/{ownershipId}":
    get:
      tags:
        - flow-nft-ownership-controller
      operationId: getNftOwnershipById
      parameters:
        - name: ownershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftOwnership"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
