openapi: 3.0.3
info:
  title: flow-protocol-api-nft
  version: v0.1

paths:
  '/v0.1/items/all':
    get:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: getNftAllItems
      parameters:
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
        - name: showDeleted
          in: query
          required: false
          schema:
            type: boolean
        - name: lastUpdatedFrom
          in: query
          description: "From what time the items were updated. Integer in unix format"
          required: false
          schema:
            type: integer
            format: int64
          example: 1631653245
        - name: lastUpdatedTo
          in: query
          description: "To what time the items were updated. Integer in unix format"
          required: false
          schema:
            type: integer
            format: int64
          example: 1631782725
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'

  '/v0.1/items/{itemId}':
    get:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: getNftItemById
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItem'

  '/v0.1/items/byAccount':
    get:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: getNftItemsByOwner
      parameters:
        - name: address
          in: query
          description: address of NFT owner
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'
  '/v0.1/items/byCreator':
    get:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: getNftItemsByCreator
      parameters:
        - name: address
          in: query
          description: address of NFT creator
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          description: continuation value from previous response
          required: false
          schema:
            type: string
        - name: size
          in: query
          description: how many items to return
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlowNftItems'
  '/v0.1/items/listed':
    get:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: getListedItems
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/FlowNftItem'
  '/v0.1/items/meta/{itemId}':
    get:
      tags:
        - flow-nft-item-controller
      operationId: getNftItemMetaById
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Meta'
    post:
      tags:
        - flow-nft-item-controller
      description: ""
      operationId: saveItemsMeta
      parameters:
        - name: itemId
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/FlowItemMetaForm"
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: string

  "/v0.1/items/byCollection":
    get:
      tags:
        - flow-nft-item-controller
      operationId: getNftItemsByCollection
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            type: string
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftItems"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/ownerships/{ownershipId}":
    get:
      tags:
        - flow-nft-ownership-controller
      operationId: getNftOwnershipById
      parameters:
        - name: ownershipId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftOwnership"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/ownerships/all":
    get:
      tags:
        - flow-nft-ownership-controller
      operationId: getNftAllOwnerships
      parameters:
        - name: continuation
          in: query
          required: false
          schema:
            type: string
            example: "1628227478_0xe91e497115b9731b:11"
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftOwnerships"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/ownerships/byItem":
    get:
      tags:
        - flow-nft-ownership-controller
      operationId: getNftOwnershipsByItem
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            "$ref": "#/components/schemas/FlowAddress"
        - name: tokenId
          in: query
          required: true
          schema:
            "$ref": "#/components/schemas/BigInteger"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftOwnerships"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/collections/{collection}":
    get:
      tags:
        - flow-nft-collection-controller
      description: Returns Collection by ID
      operationId: getNftCollectionById
      parameters:
        - name: collection
          in: path
          required: true
          schema:
            type: string
            example:
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftCollection"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/collections/byOwner":
    get:
      tags:
        - flow-nft-collection-controller
      operationId: searchNftCollectionsByOwner
      parameters:
        - name: owner
          in: query
          description: owner of searching collections
          required: true
          schema:
            "$ref": "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftCollections"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/collections/all":
    get:
      tags:
        - flow-nft-collection-controller
      operationId: searchNftAllCollections
      parameters:
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowNftCollections"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/crypto/verify":
    get:
      tags:
        - flow-nft-crypto-controller
      operationId: verifySignature
      parameters:
        - name: publicKey
          in: query
          required: true
          schema:
            type: string
        - name: signature
          in: query
          required: true
          schema:
            type: string
        - name: message
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: boolean

        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
