openapi: 3.0.3
info:
  title: flow-protocol-api-order
  version: v0.1

paths:
  "/v0.1/orders/{orderId}":
    get:
      tags:
        - flow-order-controller
      operationId: getOrderByOrderId
      parameters:
        - name: orderId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowOrder"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/orders/all/byStatus":
    get:
      tags:
        - flow-order-controller
      operationId: getOrdersAllByStatus
      parameters:
        - name: sort
          in: query
          required: false
          schema:
            type: string
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FlowOrderStatus"
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"


  "/v0.1/orders/sell/byMaker":
    get:
      tags:
        - flow-order-controller
      operationId: getSellOrdersByMaker
      parameters:
        - name: maker
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  "/v0.1/orders/sell/byItem":
    get:
      tags:
        - flow-order-controller
      operationId: getSellOrdersByItem
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: tokenId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/BigInteger"
        - name: maker
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  "/v0.1/orders/sell/byCollection":
    get:
      tags:
        - flow-order-controller
      operationId: getSellOrdersByCollection
      parameters:
        - name: collection
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  "/v0.1/orders/sell/byItemAndByStatus":
    get:
      tags:
        - order-controller
      operationId: getSellOrdersByItemAndByStatus
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: tokenId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/BigInteger"
        - name: maker
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
        - name: status
          in: query
          required: false
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FlowOrderStatus"
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"


  "/v0.1/orders/sell":
    get:
      tags:
        - flow-order-controller
      operationId: getSellOrders
      parameters:
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  ###################### Bids ######################

  "/v0.1/orders/bids/byMaker":
    get:
      tags:
        - flow-order-controller
      operationId: getOrderBidsByMaker
      parameters:
        - name: maker
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  "/v0.1/orders/bids/byItem":
    get:
      tags:
        - flow-order-controller
      operationId: getOrderBidsByItem
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: tokenId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/BigInteger"
        - name: maker
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  "/v0.1/bids/byItem":
    get:
      tags:
        - order-bid-controller
      operationId: getBidsByItem
      parameters:
        - name: contract
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: tokenId
          in: query
          required: true
          schema:
            $ref: "#/components/schemas/BigInteger"
        - name: status
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FlowOrderStatus"
        - name: maker
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: origin
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/FlowAddress"
        - name: startDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: endDate
          in: query
          required: false
          schema:
            type: string
            format: date-time
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            minimum: 1
            type: integer
            format: int32
      responses:
        '200':
          $ref: "#/components/responses/FlowOrdersPage"
        '400':
          $ref: "#/components/responses/BadRequest"
        '500':
          $ref: "#/components/responses/ServerError"

  ######## Aggregations #######

  "/v0.1/aggregations/nftSellByMaker":
    get:
      tags:
        - order-aggregation-controller
      operationId: aggregateNftSellByMaker
      description: Aggregate nft sell order by maker
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: endDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int64

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FlowAggregationData"

  "/v0.1/aggregations/nftPurchaseByTaker":
    get:
      tags:
        - order-aggregation-controller
      operationId: aggregateNftPurchaseByTaker
      description: Aggregate nft purchase by taker
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: endDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int64

      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FlowAggregationData"

  "/v0.1/aggregations/nftPurchaseByCollection":
    get:
      tags:
        - order-aggregation-controller
      operationId: aggregateNftPurchaseBuyCollection
      description: Aggregate nft purchase by collection
      parameters:
        - name: startDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: endDate
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  "$ref": "#/components/schemas/FlowAggregationData"

components:
  responses:
    FlowOrdersPage:
      description: OK
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FlowOrdersPagination"

