openapi: 3.0.3
info:
  title: flow-protocol-api-nft-order
  version: v0.1

paths:
  "/v0.1/order/activities/byItem":
    get:
      tags:
        - flow-nft-order-activity-controller
      operationId: getNftOrderActivitiesByItem
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - TRANSFER
                - MINT
                - BURN
                - SELL
                - LIST
                - CANCEL_LIST
                - BID
                - CANCEL_BID
        - name: contract
          in: query
          required: true
          schema:
            type: string
        - name: tokenId
          in: query
          required: true
          schema:
            type: integer
            format: int64
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - LATEST_FIRST
              - EARLIEST_FIRST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowActivities"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
  "/v0.1/order/activities/byUser":
    get:
      tags:
        - flow-nft-order-activity-controller
      operationId: getNftOrderActivitiesByUser
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - TRANSFER_FROM
                - TRANSFER_TO
                - MINT
                - BURN
                - SELL
                - BUY
                - LIST
                - CANCEL_LIST
                - BID
                - CANCEL_BID
                - MAKE_BID
                - GET_BID
        - name: user
          in: query
          required: true
          schema:
            type: array
            items:
              $ref: "#/components/schemas/FlowAddress"
        - name: from
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: to
          in: query
          required: false
          schema:
            type: integer
            format: int64
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - LATEST_FIRST
              - EARLIEST_FIRST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowActivities"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
  "/v0.1/order/activities/all":
    get:
      tags:
        - flow-nft-order-activity-controller
      operationId: getNftOrderAllActivities
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - TRANSFER
                - MINT
                - BURN
                - SELL
                - LIST
                - CANCEL_LIST
                - BID
                - CANCEL_BID
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - LATEST_FIRST
              - EARLIEST_FIRST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowActivities"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"

  "/v0.1/order/activities/byCollection":
    get:
      tags:
        - flow-nft-order-activity-controller
      operationId: getNftOrderActivitiesByCollection
      parameters:
        - name: type
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
              enum:
                - TRANSFER
                - MINT
                - BURN
                - SELL
                - LIST
                - CANCEL_LIST
                - BID
                - CANCEL_BID
        - name: collection
          in: query
          required: true
          schema:
            type: string
            example: "A.e4e5f90bf7e2a25f.NFTProvider.NFT"
        - name: continuation
          in: query
          required: false
          schema:
            type: string
        - name: size
          in: query
          required: false
          schema:
            type: integer
            format: int32
        - name: sort
          in: query
          required: false
          schema:
            type: string
            enum:
              - LATEST_FIRST
              - EARLIEST_FIRST
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowActivities"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/FlowApiError"
