openapi: 3.0.3
info:
  title: flow-protocol-model-nft
  version: v0.1

paths:
components:
  schemas:

    FlowNftItem:
      type: object
      properties:
        id:
          type: string
        contract:
          type: string
        tokenId:
          type: integer
        creator:
          type: string
        owner:
          type: string
        meta:
          type: string
        date:
          type: string
          format: date-time
          description: ISO date time
        listed:
          type: boolean
        collection:
          type: string

    FlowNftItemEvent:
      required:
        - eventId
        - itemId
      properties:
        eventId:
          type: string
        itemId:
          type: string
      discriminator:
        propertyName: type
        mapping:
          UPDATE: "#/components/schemas/FlowNftItemUpdateEvent"
          DELETE: "#/components/schemas/FlowNftItemDeleteEvent"
      oneOf:
        - $ref: "#/components/schemas/FlowNftItemUpdateEvent"
        - $ref: "#/components/schemas/FlowNftItemDeleteEvent"

    FlowNftItemUpdateEvent:
      type: object
      required:
        - item
      properties:
        type:
          type: string
          enum:
            - UPDATE
        item:
          $ref: "#/components/schemas/FlowNftItem"
    FlowNftItemDeleteEvent:
      type: object
      required:
        - item
      properties:
        type:
          type: string
          enum:
            - DELETE
        item:
          $ref: "#/components/schemas/FlowNftDeletedItem"

    FlowNftDeletedItem:
      required:
        - id
        - token
        - tokenId
      type: object
      properties:
        id:
          type: string
          description: Item identifier, has format "contract:tokenId"
        token:
          type: string
        tokenId:
          type: integer

    FlowItemMetaForm:
      type: object
      properties:
        title:
          type: string
        description:
          type: string
        uri:
          type: string

    FlowItemMeta:
      type: object
      properties:
        itemId:
          type: string
        title:
          type: string
        description:
          type: string
        uri:
          type: string

    FlowNftItems:
      required:
        - items
      type: object
      properties:
        continuation:
          type: string
          description: Continuation token to paginate items search result
        items:
          type: array
          description: List of found items
          items:
            "$ref": "#/components/schemas/FlowNftItem"

    FlowOwnershipEvent:
      required:
        - eventId
        - ownershipId
      properties:
        eventId:
          type: string
        ownershipId:
          type: string
      discriminator:
        propertyName: type
        mapping:
          UPDATE: "#/components/schemas/FlowNftOwnershipUpdateEvent"
          DELETE: "#/components/schemas/FlowNftOwnershipDeleteEvent"
      oneOf:
        - $ref: "#/components/schemas/FlowNftOwnershipUpdateEvent"
        - $ref: "#/components/schemas/FlowNftOwnershipDeleteEvent"


    FlowNftOwnershipUpdateEvent:
      type: object
      required:
        - ownership
      properties:
        type:
          type: string
          enum:
            - UPDATE
        ownership:
          $ref: "#/components/schemas/FlowNftOwnership"

    FlowNftOwnershipDeleteEvent:
      type: object
      required:
        - ownership
      properties:
        type:
          type: string
          enum:
            - DELETE
        ownership:
          $ref: "#/components/schemas/FlowNftOwnership"

    FlowNftOwnership:
      required:
        - token
        - tokenId
        - owner
      type: object
      properties:
        id:
          type: string
          description: Ownership identifier, has format "token:tokenId:owner"
        token:
          type: string
          description: Token contract address
        tokenId:
          type: string
          description: Token ID
        owner:
          type: string
          description: Owner's account address

    FlowNftCollection:
      type: object
      required:
        - id
        - owner
        - name
        - symbol
      properties:
        id:
          type: string
          example: "A.e4e5f90bf7e2a25f.NFTProvider.NFT"
          description: ID of collection (full resource name)
        owner:
          $ref: "#/components/schemas/FlowAddress"
        name:
          type: string
          description: Colelction name
        symbol:
          type: string
          description: Collection short name
