openapi: 3.0.3
info:
paths:

components:
  schemas:

    FlowNftItem:
      type: object
      properties:
        id:
          type: string
        contract:
          type: string
        tokenId:
          type: integer
        creator:
          type: string
        owner:
          type: string
        meta:
          type: string
        date:
          type: string
          format: date-time
          description: ISO date time
        listed:
          type: boolean

    FlowNftItemEvent:
      required:
        - eventId
        - itemId
      properties:
        eventId:
          type: string
        itemId:
          type: string
      discriminator:
        propertyName: type
        mapping:
          UPDATE: "#/components/schemas/FlowNftItemUpdateEvent"
          DELETE: "#/components/schemas/FlowNftItemDeleteEvent"
      oneOf:
        - $ref: "#/components/schemas/FlowNftItemUpdateEvent"
        - $ref: "#/components/schemas/FlowNftItemDeleteEvent"
    FlowNftItemUpdateEvent:
      type: object
      required:
        - item
      properties:
        type:
          type: string
          enum:
            - UPDATE
        item:
          $ref: "#/components/schemas/FlowNftItem"
    FlowNftItemDeleteEvent:
      type: object
      required:
        - item
      properties:
        type:
          type: string
          enum:
            - DELETE
        item:
          $ref: "#/components/schemas/FlowNftDeletedItem"

    FlowNftDeletedItem:
      required:
        - id
        - token
        - tokenId
      type: object
      properties:
        id:
          type: string
          description: Item identifier, has format "contract:tokenId"
        token:
          type: string
        tokenId:
          type: integer
